Makefile
src/Makefile
bindings/Makefile
config.log
config.status
libtool
.deps/
.libs/
Makefile
*.la
*.lo
*.o
*.so
*.pc
stamp-h1
autom4te.cache/*
bindings/build/
bindings/buildphp
examples/example01
examples/*.log
src/.dirstamp
config.h.in~

